html,
body {
    width: 200px;
}

.hidden {
    display: none;
}

@media (prefers-color-scheme: dark) {
    .container {
        background-color: #23222b;
    }
}

@media (prefers-color-scheme: light) {
    .container {
        background-color: white;
    }
}

.container {
    padding: 1rem;
}

button {
    border: none;
    width: 100%;
    margin: 3% auto;
    padding: 4px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
    color: white;
    background-color: #ee22aa;
}

button:hover {
    background-color: #fa4bc2;
}

button[type="reset"] {
    background-color: #10576d;
}

button[type="reset"]:hover {
    background-color: #187a99;
}
